.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: background-position 0.3s ease-out;
  color: #fff;
  background: rgb(78, 78, 78);
  background: radial-gradient(
    circle,
    rgba(78, 78, 78, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: 105% 105%;
}

.App-lightMode {
  background: rgb(170, 170, 170);
  background: radial-gradient(
    circle,
    rgba(170, 170, 170, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: 105% 105%;
  color: #000;
}

.App-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-title {
  margin: 0.5em 0;
}

.App-intro {
  margin: 0.5em 0;
  text-align: center;
}
