body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "iA Writer Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
